<a href="https://colab.research.google.com/github/PIYUSHSHARMA2001/Machine_Learning_Projects/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [17]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Link to Kaggle Credit_Card_Dataset: https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud

In [18]:
# loading the dataset to a pandas dataframe
credit_card_data = pd.read_csv('/content/Credit_Card_Fraud_Detection.csv')

In [19]:
# first five rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [20]:
#last five rows of the dataset
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [21]:
# some info about the data
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [22]:
#checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [23]:
# Distribution of legit transaction and fraudulent transaction 
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

Dataset is highly unbalanced

0--> Normal Transaction

1-->Fraudulent Transaction

In [24]:
#separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [25]:
legit.shape

(284315, 31)

In [26]:
fraud.shape

(492, 31)

In [27]:
#statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [28]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [29]:
# compare the values for both transaction
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-Sampling to resolve the problem of unbalanced dataset

Build a sample dataset containg similar distribution of normal transaction and Fradulent Transaction


we would randomly take 492 data from legit dataset and we would take the fraud dataset completely and then use them to train the model


Number of Fraudulent Transaction = 492

In [30]:
legit_sample = legit.sample(n=492)

Concatenating two Dataframe

In [31]:
new_dataset = pd.concat([legit_sample,fraud],axis=0)

In [32]:
# first five rows of the dataset
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
33598,37299.0,1.375577,-0.419460,0.615182,-0.792305,-1.005278,-0.715165,-0.616627,-0.081245,-1.123556,...,-0.040521,-0.232404,0.120452,0.318543,0.221826,-0.499698,0.011354,0.012671,2.95,0
153017,97771.0,2.031833,-0.727718,-0.847830,-1.891995,-0.576737,-0.775111,-0.592232,-0.269458,3.722783,...,0.104181,0.774075,0.055725,0.576034,0.078228,-0.813468,0.045446,-0.029391,43.45,0
127081,78203.0,-0.348166,1.260139,0.551243,2.854752,0.461269,-0.577122,1.157140,-0.521267,-1.005751,...,0.096385,0.555296,0.067172,0.387587,-1.086055,0.036832,-0.075299,0.157581,47.61,0
181198,124871.0,-0.619780,-0.248517,1.296632,-0.919254,0.733983,-0.545619,-0.127010,0.197391,0.142424,...,-0.015819,-0.264761,0.100846,-0.415522,-0.203466,-0.267233,-0.022369,-0.008391,18.25,0
137686,82282.0,-7.474464,-9.309646,0.682906,1.673723,11.789235,-2.546788,-6.254170,1.782718,0.270926,...,0.665606,-1.021304,1.445144,0.961456,1.331722,-0.408076,-0.308655,0.247772,12.64,0

In [33]:
#last five rows of  the dataset
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [34]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [35]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,97255.634146,0.026498,-0.004033,0.038295,0.048467,0.016412,0.057601,0.005845,-0.079805,0.038832,...,0.032296,-0.034197,-0.063986,-0.014063,-0.009964,-0.016313,0.005635,-0.005119,-0.003412,92.382825
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the data into features and targets

In [36]:
X = new_dataset.drop(columns = 'Class',axis =1)
Y = new_dataset['Class']

In [37]:
print(X)

            Time        V1        V2        V3        V4         V5        V6  \
33598    37299.0  1.375577 -0.419460  0.615182 -0.792305  -1.005278 -0.715165
153017   97771.0  2.031833 -0.727718 -0.847830 -1.891995  -0.576737 -0.775111
127081   78203.0 -0.348166  1.260139  0.551243  2.854752   0.461269 -0.577122
181198  124871.0 -0.619780 -0.248517  1.296632 -0.919254   0.733983 -0.545619
137686   82282.0 -7.474464 -9.309646  0.682906  1.673723  11.789235 -2.546788
...          ...       ...       ...       ...       ...        ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293  -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850   0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308  -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092  -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670   1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
33598  -0.616627 -0.081245 -1.123556  ...  0.104714 -0.040521 -0.232404
153017 -0.592232 -0.269458  3.722783  ... -0.066942  0.104181  0.774075
127081  1.157140 -0.521267 -1.005751  ...  0.082388  0.096385  0.555296
181198 -0.127010  0.197391  0.142424  ...  0.127497 -0.015819 -0.264761
137686 -6.254170  1.782718  0.270926  ...  2.520778  0.665606 -1.021304
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
33598   0.120452  0.318543  0.221826 -0.499698  0.011354  0.012671    2.95
153017  0.055725  0.576034  0.078228 -0.813468  0.045446 -0.029391   43.45
127081  0.067172  0.387587 -1.086055  0.036832 -0.075299  0.157581   47.61
181198  0.100846 -0.415522 -0.203466 -0.267233 -0.022369 -0.008391   18.25
137686  1.445144  0.961456  1.331722 -0.408076 -0.308655  0.247772   12.64
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [38]:
print(Y)

33598     0
153017    0
127081    0
181198    0
137686    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Splitting the data into training data and test data

In [40]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2,stratify = Y, random_state=3)

In [42]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training

LogisticRegression

In [43]:
model=LogisticRegression()

In [45]:
# training the logistic Regression model with the training data
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

Model Evaluation 

Accuracy Score

In [46]:
#accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [47]:
print('Accuracy on Training data : ',training_data_accuracy*100)

Accuracy on Training data :  94.79034307496823

In [48]:
#accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [49]:
print('Accuracy on Test data : ',test_data_accuracy*100)

Accuracy on Test data :  94.9238578680203

Making a predictive system

In [51]:
input_data = (101313,-25.825982149082,19.1672390103062,-25.3902293121699,11.1254347149714,-16.6826439195391,3.93369943022963,-37.0603114554112,-28.7597989339836,-11.1266235224579,-23.2282548357516,3.7859770496129,-10.5224940129243,-2.65749636392801,-3.79279543594993,-4.49894467676621,-6.55787310177539,-12.8672447953713,-5.80459047549908,-1.25446534452587,7.90737812724062,-16.9220157786505,5.70368400806478,3.51001884069223,0.0543302268964685,-0.671983312405663,-0.209431359115655,-4.95002186384908,-0.448412770754799,2.28)
# changing input data to a numpy array
input_data_as_numpy_array = np.asarray(input_data)
#reshape the numpy array as  we are predicting for only one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if(prediction[0]==0):
  print('It is Legit Credit Card Transaction\n\n')
else:
  print('It is Fraudulent Credit Card Transaction\n\n')

[1]
It is Fraudulent Credit Card Transaction

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"